body, div, img, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt,
blockquote, fieldset, legend, label, input, textarea {
    margin: 0; 
    padding: 0; 
    border: 0;
}
header{
	height:	100vh;
}
.homeContent{
	background-image: url(./img/MoroshkaMainMax.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height:	75vh;	
	position: relative;
	margin:0 auto;	
}

nav ul li{
	display: inline;
}


/*
.main-nav  a
{	
	margin: 9%;
    position: relative;
    font-size: 1.6rem;
    font-family: serif;
    text-decoration: none;
    color: black;
}
.main-nav a:hover{
	text-decoration:underline;
}
.logo{
	position: relative;
	font-size: 3rem;
    letter-spacing: 0.1767em;
    font-family: serif;
}
.downLogo{
 	letter-spacing: 0.3237em;
}
p{
	text-align: center;
}

@media screen and (max-width: 500px){
	#mainBG{
		background-image: url(./img/MoroshkaMainMin.jpg);
	}
	.homeContent{
		width: 100%;
		height:	80.25em;
	}

}*/

/*img{
	width: 575px;
	height: auto;
}*/
.gallery{
	overflow: hidden;
}
.gallery > *
{
	float: left;
	padding: 0 0 0 6em;
	/*width:  26vw;*/
}

.adaptive-image {
	max-width: 100%;
	height: auto;
	border-width: 0 2rem 0 2rem;
	position: absolute;
    -moz-border-image: url(img/diaM.jpg) 0 140 0 155 repeat;
    -webkit-border-image: url(img/diaM.jpg) 0 140 0 155 repeat; 
    -o-border-image: url(img/diaM.jpg) 0 140 0 155 repeat;
    border-image: url(img/diaM.jpg) 0 141 0 157 repeat;
 }

.galleryItem{
	width: 26vw;
	height: auto;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
	overflow: hidden;
}
.mask{
}
div.mask ul{
	list-style: none;
}